@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

// Set your brand colors
$green: #3EC46D;

// Update Bulma's global variables
$family-sans-serif: "Righteous", sans-serif;
$primary: $green;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/form/input-textarea.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/utilities/_all.sass";

html {
    box-sizing: border-box;
}

h3, form .label, form .input, form .textarea, button {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.1rem;
}

.hero-img {
    @include mobile {
        width: 80%;
    }

    @include tablet {
        width: 60%;
    }

    width: 30%;
    margin: auto;
}

.section.is-long {
    padding-bottom: 15rem;
}

.is-primary {
    background-color: $primary;
    color: $white;
}

.section.projects .container {
    @media (min-width: 500px) and (max-width: $tablet) {
        width: 70%;
    }
}

.section.skills {
    margin-top: -10rem;
    padding-bottom: 1rem;

    & .box {
        padding: 2em 0;
    }
}

.skills-header {
    margin: auto;
    margin-bottom: 0.5em;
}

.skills-first-column {
    border-right: 1px solid lightgrey;
}

.skills .column>img {
    @include mobile {
        height: 32px;
        width: 32px;
    }
    
    height: 96px;
    width: 96px;
}

.skills li {
    padding: 0.3rem 0;
}

.contact {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.contact .box h3 {
    padding: 1.5rem;
}